html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, GTZirkon, Roboto, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
}

* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

textarea {
	font-family: Roboto;
	resize: none;
	font-size: 12px;
}

input {
	font-family: Roboto;
	background: #FFFFFF;
	border: 1px solid #545454;
	box-sizing: border-box;
	border-radius: 5px;
	width: 40vw;
	margin-bottom: 10px;
	font-size: 12px;
	height: 4vh;
}

h3 {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 28px;
	margin: 0;
}

.pro-tip {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 14px;
	margin-bottom: 5px;
	padding: 5px;
}

.generate-button {
	width: 262px;
	height: 58px;
	left: 73px;
	top: 784px;

	background: #BBE9FF;
	border-radius: 10px;
	font-size: 24px;
	line-height: 28px;
}

.unselected-draft-btn {
	width: 52px;
	height: 47px;
	left: 1230px;
	top: 759px;

	background: #CDFFDB;
	border: 1px solid #797979;
	box-sizing: border-box;
	border-radius: 20px;
	font-size: 32px;
	margin-left: 10px;
}

.selected-draft-btn {
	width: 52px;
	height: 47px;
	left: 1230px;
	top: 759px;

	background: #CDFFDB;
	border: 1px solid #797979;
	box-sizing: border-box;
	border-radius: 20px;
	font-size: 32px;
	margin-left: 10px;
}

nav {
	min-width: 13vw;
	display: flex;
	justify-content: space-between;
}

.card {
	background-color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	min-width: 35vw;
	padding: 3vw;
	border-radius: 4px;
	box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);
}

.card-container {
	display: flex;
	flex-direction:  column;
	align-items: center;
	min-width: 30vw;
	padding: 2vw;
}

.input-container {
	display: flex;
	flex-direction: column;
	justify-content: start;
}